In [ ]:
import pandas as pd
import numpy as np
import re           #useful for searching words in a text or documents
from nltk.corpus import stopwords # words that don't add much value to the text or data like was were is am etc
from nltk.stem.porter import PorterStemmer  # nltk = natural language tool kit used for stemming process
from sklearn.feature_extraction.text import TfidfVectorizer # used to convert text into feature vectors
from sklearn.model_selection import train_test_split # used to train data by splitting
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sanda\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [4]:
print(stopwords.words('english'))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

## Data pre-processing

In [5]:
df = pd.read_csv('fake_news_dataset.csv')

In [6]:
df.head()

,title,text,date,source,author,category,label
0,Foreign Democrat final.,more tax development both store agreement lawy...,2023-03-10,NY Times,Paula George,Politics,real
1,To offer down resource great point.,probably guess western behind likely next inve...,2022-05-25,Fox News,Joseph Hill,Politics,fake
2,Himself church myself carry.,them identify forward present success risk sev...,2022-09-01,CNN,Julia Robinson,Business,fake
3,You unit its should.,phone which item yard Republican safe where po...,2023-02-07,Reuters,Mr. David Foster DDS,Science,fake
4,Billion believe employee summer how.,wonder myself fact difficult course forget exa...,2023-04-03,CNN,Austin Walker,Technology,fake

In [7]:
df.shape

(20000, 7)

In [9]:
df['label'] = df['label'].map({'real':0,'fake':1})

In [10]:
df.head()

,title,text,date,source,author,category,label
0,Foreign Democrat final.,more tax development both store agreement lawy...,2023-03-10,NY Times,Paula George,Politics,0
1,To offer down resource great point.,probably guess western behind likely next inve...,2022-05-25,Fox News,Joseph Hill,Politics,1
2,Himself church myself carry.,them identify forward present success risk sev...,2022-09-01,CNN,Julia Robinson,Business,1
3,You unit its should.,phone which item yard Republican safe where po...,2023-02-07,Reuters,Mr. David Foster DDS,Science,1
4,Billion believe employee summer how.,wonder myself fact difficult course forget exa...,2023-04-03,CNN,Austin Walker,Technology,1

In [11]:
df.isnull().sum()

title          0
text           0
date           0
source      1000
author      1000
category       0
label          0
dtype: int64

In [12]:
df = df.fillna('') # replacing null value with empty string

In [ ]:
df['content'] = df['author']+' '+df['title'] # merging the two column

In [14]:
print(df['content'])

0                     Paula George Foreign Democrat final.
1          Joseph Hill To offer down resource great point.
2              Julia Robinson Himself church myself carry.
3                Mr. David Foster DDS You unit its should.
4        Austin Walker Billion believe employee summer ...
                               ...
19995                         Gary Miles House party born.
19996    Maria Mcbride Though nation people maybe price...
19997     Kristen Franklin Yet exist with experience unit.
19998                  David Wise School wide itself item.
19999        James Peterson Offer chair cover senior born.
Name: content, Length: 20000, dtype: object

In [17]:
df = df.drop(['date','source','category'],axis=1)

In [19]:
# seperating data and label
x = df.drop(columns='label',axis=1)
y = df['label']
print(x)
print(y)

                                       title  \
0                    Foreign Democrat final.
1        To offer down resource great point.
2               Himself church myself carry.
3                       You unit its should.
4       Billion believe employee summer how.
...                                      ...
19995                      House party born.
19996  Though nation people maybe price box.
19997        Yet exist with experience unit.
19998               School wide itself item.
19999         Offer chair cover senior born.

                                                    text  \
0      more tax development both store agreement lawy...
1      probably guess western behind likely next inve...
2      them identify forward present success risk sev...
3      phone which item yard Republican safe where po...
4      wonder myself fact difficult course forget exa...
...                                                  ...
19995  hit and television I change very our happy doo...
19996  fear most meet rock even sea value design stan...
19997  activity loss very provide eye west create wha...
19998  term point general common training watch respo...
19999  remain pressure glass me six senior though nor...

                     author                                            content
0              Paula George               Paula George Foreign Democrat final.
1               Joseph Hill    Joseph Hill To offer down resource great point.
2            Julia Robinson        Julia Robinson Himself church myself carry.
3      Mr. David Foster DDS          Mr. David Foster DDS You unit its should.
4             Austin Walker  Austin Walker Billion believe employee summer ...
...                     ...                                                ...
19995            Gary Miles                       Gary Miles House party born.
19996         Maria Mcbride  Maria Mcbride Though nation people maybe price...
19997      Kristen Franklin   Kristen Franklin Yet exist with experience unit.
19998            David Wise                David Wise School wide itself item.
19999        James Peterson      James Peterson Offer chair cover senior born.

[20000 rows x 4 columns]
0        0
1        1
2        1
3        1
4        1
        ..
19995    1
19996    0
19997    0
19998    1
19999    1
Name: label, Length: 20000, dtype: int64

In [20]:
x.shape

(20000, 4)

In [21]:
x.isnull().sum()

title      0
text       0
author     0
content    0
dtype: int64

Stemming :
It is the process of reducing a word to its Root word
Eg : Actor, Actress,acting -> act